<p id="h2">Zarządzanie projektem</p>
<form>
  <label class="wrapper-left">Promotor pracy:</label>
  <mat-form-field class="wrapper-width">
    <input disabled matInput name="supervisor" value="{{supervisor?.firstName}} {{supervisor?.lastName}}">
  </mat-form-field>
  <app-visibility-select *ngIf="isUserSupervisor()"  matTooltip="{{tooltipVisibility}}" [allowPrivate]="false" [selected]="supervisorVisibility" (selectionChange)="selectionSuperUserVisibilityChange($event)" class="chip-image"></app-visibility-select>
  <br/>
  <form #authors="ngForm" (ngSubmit)="addAuthor()">
    <label class="wrapper-left">Autorzy pracy: <img *ngIf="isUserSupervisor()" matTooltip="Jeżeli chcesz dodać nowego współtwórcę projektu, wpisz jego adres e-mail i zatwierdź, klikając 'Dodaj'." src="../../assets/question.png"/></label> 
    <mat-form-field class="wrapper-width" *ngIf="isUserSupervisor()">
      <input #authorInput name="author" ngModel matInput> 
    </mat-form-field> 
    <button type="submit" mat-stroked-button class="submit-button" *ngIf="isUserSupervisor()">Dodaj</button>
    <br/>
  </form>
  <app-error-info #emailError errorText="{{validation.errorStringEmail}}" errorType="ERROR"></app-error-info>
  <div class="list">
    <app-input-list #authorsList removable="isUserSupervisor()" [visibilityChangeable]="false" orientation="vertical" (changeElements)="recieveCollaborators($event)" hideInput="true"></app-input-list>
    <app-input-list #myselfList [visibilityChangeable]="true" orientation="vertical" (changeElements)="recieveCollaborators($event)" hideInput="true"></app-input-list>
  </div>
  <div id="button-container">
    <button type="button" mat-stroked-button class="submit-button" (click)="updateProject()">Zatwierdź
      zmiany</button>
  </div>
  <app-spinner-update-management #spinner></app-spinner-update-management>
</form>

<div id="border" *ngIf="isUserSupervisor()">
  <h3>Usuń projekt</h3>
  <h5>Bądź pewien, że chcesz usunąć ten projekt, ponieważ po jego usunięciu nie możesz już do niego powrócić. Wszystkie dane
    z nim związane (metadane projektu oraz załączniki) zostaną usunięte.</h5>
  <div id="button-container-right">
    <button id="button-delete" mat-stroked-button (click)="deleteProject()">Bezpowrotnie usuń ten projekt</button>
  </div>
</div>