<div id="advanced-search">
  <div class="form">
    <mat-form-field class="leftLabel">
      <input matInput ngModel #titleInput placeholder="Tytuł" (keyup.enter)="addTitle()">
    </mat-form-field>
    <mat-form-field class="leftLabel paddingLeft">
      <input matInput ngModel #tagInput placeholder="Tag" (keyup.enter)="addTag()">
    </mat-form-field>
    <mat-form-field class="rightLabel">
      <mat-select [(value)]="selectedLicence" placeholder="Licencja" (selectionChange)="addLicence()">
        <mat-option *ngFor="let licence of licences" [value]="licence">{{licence.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="leftLabel">
      <mat-select [(value)]="selectedType" placeholder="Typ pracy" (selectionChange)="addType()">
        <mat-option *ngFor="let type of project_types" [value]="type">{{type.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="leftLabel paddingLeft paddingBottom">
      <mat-select [(value)]="selectedStatus" placeholder="Status" (selectionChange)="addStatus()">
        <mat-option *ngFor="let status of statuses" [value]="status">{{status.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <label class="center">Data publikacji:</label>
    <mat-form-field class="leftLabel">
        <input matInput ngModel #dateInput1  [matDatepicker]="datePicker1" class="dateInput" placeholder="od" (dateChange)="dateFromChanged('change', $event)"
            disabled>
        <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
        <mat-datepicker #datePicker1 disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="leftLabel paddingLeft">
        <input matInput ngModel #dateInput2 [matDatepicker]="datePicker2" class="dateInput" placeholder="do" (dateChange)="dateToChanged('change', $event)"
            disabled>
        <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
        <mat-datepicker #datePicker2 disabled="false"></mat-datepicker>
    </mat-form-field>
    <label class="rightLabel" id="center">Semestry wytwarzania: &nbsp;
        <img src='assets/calendar.png' (click)="toggleSemesters()" />
    </label>
    <div class=paddingTop id="semesterContainer">
        <app-semester-chooser *ngIf="semestersHidden != false" [semestersFromParent]="chosenSemesters" (semesterAdded)="showAddedSemester($event)"
            (semesterRemoved)="removeAddedSemester($event)" (confirm)="toggleSemesters($event)" #semesterChooser></app-semester-chooser>
    </div>

    <table id="inputListsTable">
      <tr>
        <td>
          <label class="inputListLabel" *ngIf="titlesList.elements.length > 0">Tytuły: </label>
        </td>
        <td>
          <app-input-list #titlesList orientation="horizontal" removable="true" hideInput="true"></app-input-list>
        </td>
      </tr>
      <tr>
        <td>
          <label class="inputListLabel" *ngIf="tagsList.elements.length > 0">Tagi: </label>
        </td>
        <td>
          <app-input-list #tagsList orientation="horizontal" removable="true" hideInput="true"></app-input-list>
        </td>
      </tr>
      <tr>
        <td>
          <label class="inputListLabel" *ngIf="licencesList.elements.length > 0">Licencje: </label>
        </td>
        <td>
          <app-input-list #licencesList orientation="horizontal" removable="true" hideInput="true"></app-input-list>
        </td>
      </tr>
      <tr>
        <td>
          <label class="inputListLabel" *ngIf="typesList.elements.length > 0">Typy: </label>
        </td>
        <td>
          <app-input-list #typesList orientation="horizontal" removable="true" hideInput="true"></app-input-list>
        </td>
      </tr>
      <tr>
          <tr>
              <td>
                <label class="inputListLabel" *ngIf="statusesList.elements.length > 0">Statusy: </label>
              </td>
              <td>
                <app-input-list #statusesList orientation="horizontal" removable="true" hideInput="true"></app-input-list>
              </td>
            </tr>
            <tr>
        <td>
          <label class="inputListLabel" *ngIf="semestersList.elements.length > 0">Semestry: </label>
        </td>
        <td>
          <app-input-list #semestersList orientation="horizontal" removable="true" hideInput="true" (elementRemoved)="semesterRemovedFromList($event)"></app-input-list>
        </td>
      </tr>
    </table>
    <div id="buttonsContainer">
      <button mat-stroked-button class="submit-button" (click)="submit()">Zastosuj filtry</button>
      <button mat-stroked-button class="submit-button" (click)="clearFilters()" disabled="{{!canExecuteClearFilters()}}">Wyczyść filtry</button>
    </div>

  </div>
</div>