h2 {
    padding-bottom: 20px;
}

h3 {
    font-size: 20px;
    color: var(--color-orange);
    display: inline;
    vertical-align: middle;
}

h4 {
    display: inline;
    vertical-align: middle;
    font-size: 20px;
}

img {
    vertical-align: middle;
    padding-right: 5px;
}

.component {
    margin-bottom: 30px;
}

.wrapper_width_element {
    width: 50%;
    display: inline-block;
}

th, .description_content {
    margin-top: 10px;
    font-weight: normal;
    font-size: var(--normal-font-size);
    font-family: var(--main-font-name), sans-serif;
}

/* #1 ?  #2 pierwsza kolumna  */

table>*:first-child:not(thead) th:first-child {
    /*h5*/
    text-align: right;
    vertical-align: top;
    color: #7a7a7a;
    padding-right: 10px;
}

/* #1 ?  #2 n-ta kolumna, n = 2  */

table>*:first-child:not(thead) th:nth-child(2), .description_content {
    /*h6*/
    text-align: left;
    color: black;
    list-style-type: none;
}

#wrapper_width {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#elements_to_download {
    float: left;
    display: block;
}