<h2>{{project?.title}}</h2>



<div id="wrapper_width">
    <div class="component">
        <img src="assets/information.png" />
        <h4>Opis pracy (polski)</h4>
        <div class="description_content">{{project?.description}}</div>
    </div>
    <div class="component">
        <img src="assets/information.png" />
        <h4>Opis pracy (angielski)</h4>
        <div class="description_content">{{project?.descriptionENG}}</div>
    </div>
    <div class="wrapper_width_element component">
        <img src="assets/authors.png" />
        <h4>Autorzy</h4>
        <table>
            <tbody>
                <tr>
                    <th>
                        Promotor
                    </th>
                    <th>
                        {{supervisor?.firstName}} {{supervisor?.lastName}}
                    </th>
                </tr>
                <tr>
                    <th>
                        Autorzy
                    </th>
                    <th>
                        <li *ngFor="let user of collaborators">
                            {{user?.firstName}} {{user?.lastName}}
                        </li>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="wrapper_width_element component">
        <img src="assets/information.png" />
        <h4>Informacje szczegółowe</h4>
        <table>
            <tbody>
                <tr>
                    <th>
                        Typ pracy
                    </th>
                    <th>
                        {{project?.projectType?.name}}
                    </th>
                </tr>
                <tr>
                    <th>
                        Data publikacji
                    </th>
                    <th>
                        {{project?.publicationDate | date : "dd.MM.y r."}}
                    </th>
                </tr>
                <tr>
                    <th>
                        Semestry wytwarzania
                    </th>
                    <th>
                        <li *ngFor="let semester of project?.semesters">
                            {{semester?.name}}
                        </li>
                    </th>
                </tr>
                <tr>
                    <th>
                        Tagi
                    </th>
                    <th>
                        <li *ngFor="let tag of project?.tags">
                            {{tag?.name}}
                        </li>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>