<h2>{{project?.title}}</h2>

<div id="wrapper_width">
    <app-image-slider #slider></app-image-slider>
    <div class="component">
        <div class="description_content">{{project?.description}}</div>
        <div [hidden]="descriptionHidden" id="wrapper-padding-top">
            <img id="img-show" (click)="show = !show" [src]="show ? 'assets/up-arrow.png' :'assets/down-arrow.png'" />
            <label (click)="show = !show"> {{ show ? 'Zwiń opis w języku angielskim' : 'Pokaż opis w języku angielskim' }}</label>
        </div>
        <div *ngIf="show" [@fadeInOut]>
            <div id="content" class="description-english">
            <h3>{{project?.titleEng}}</h3>
            <div class="description_content">
                {{project?.descriptionEng}}
            </div>
        </div>
        </div>
        <div id="wrapper-padding-top" class="wrapper_width_element component">
            <img src="assets/authors.png" />
            <h4>Autorzy</h4>
            <table>
                <tbody>
                    <tr>
                        <th [hidden]="supervisorHidden">
                            Promotor
                        </th>
                        <th>
                            {{supervisor?.firstName}} {{supervisor?.lastName}}
                        </th>
                    </tr>
                    <tr>
                        <th [hidden]="authorsHidden">
                            Autorzy
                        </th>
                        <th>
                            <li *ngFor="let user of collaborators">
                                {{user?.user?.firstName}} {{user?.user?.lastName}}
                            </li>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="wrapper_width_element component">
            <img src="assets/information.png" />
            <h4>Informacje szczegółowe</h4>
            <table>
                <tbody>
                    <tr>
                        <th>
                            Typ pracy
                        </th>
                        <th>
                            {{project?.projectType?.name}}
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Data publikacji
                        </th>
                        <th>
                            {{project?.publicationDate | date : "dd.MM.y r."}}
                        </th>
                    </tr>
                    <tr>
                        <th [hidden]="semestersHidden">
                            Semestry wytwarzania
                        </th>
                        <th>
                            <li *ngFor="let semester of project?.semesters">
                                {{semester?.name}}
                            </li>
                        </th>
                    </tr>
                    <tr>
                        <th [hidden]="licenceHidden">
                            Licencja
                        </th>
                        <th [hidden]="licenceHidden">
                            {{project?.licence?.name}}
                        </th>
                    </tr>
                    <tr>
                        <th [hidden]="tagsHidden">
                            Tagi
                        </th>
                        <th>
                            <li *ngFor="let tag of project?.tags">
                                {{tag?.name}}
                            </li>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div [hidden]="relatedProjectsHidden" class="component">
            <img src="../../assets/related.png" />
            <h4>Powiązane projekty</h4>
            <div id="list">
                <li *ngFor="let relatedProject of relatedProjects">
                    <img id="bullet-character" src="../../assets/bullet-character.png"/>
                    <a [routerLink]="['/details/', relatedProject?.id]">{{relatedProject?.title}}</a>
                </li>
            </div>
        </div>

        <div [hidden]="filesHidden" class="component">
            <img src="assets/download.png" />
            <h4>Pliki do pobrania</h4>
            <app-download-element #downloadThesis title="Praca dyplomowa"></app-download-element>
            <app-download-element #downloadSourceCode title="Program i/lub kod programu"></app-download-element>
            <app-download-element #downloadUsage title="Instrukcja obsługi programu"></app-download-element>
            <app-download-element #downloadStartup title="Instrukcja uruchomienia programu i opis wymaganego środowiska uruchomieniowego"></app-download-element>
            <app-download-element #downloadOther title="Inne załączniki"></app-download-element>
        </div>
    </div>