#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

h2{
    margin-bottom: 2%;
}

#search_container {
    /* background-color: grey; nie było tego */
    text-align: center;
    width: 100%;
    /*wysokość = wysokość ekranu - (wysokość belki + wysokość stopki + odstęp między zawartością a belką + odstęp między zawartością a stopką)*/
    min-height: calc(100vh - (var(--menu-bar-height) + var(--footer-height) + var(--page-content-padding) *2 + var(--footer-main-page-height)));
    /* overflow: hidden;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;  */
}

#content {
    /* width: 50%;
    position: absolute;
    right: 0;
    top: 0; */
}

#navToAdvanced {
    margin-top: 15px;
}

a {
    color: black;
    font-size: 14px;
    text-decoration: underline;
    margin-left: 5px;
    font-family: var(--main-font-name), sans-serif;
    font-size: var(--normal-font-size);
    font-weight: normal;
    padding-top: 0;
    vertical-align: middle;
}

#search {
    vertical-align: middle;
}