<div id="footer">
  <div id="content">
    <a href="{{pgUrl}}"><img id="logo_pg" class="footer_img" src="{{pathToLogoPg}}"></a>
    <a href="{{kioUrl}}"><img id="logo_kio" class="footer_img" src="{{pathToLogoKio}}"></a>
    <div id="rules">
      <a class="text-url" target="_blank" rel="noopener noreferrer" href="{{kiohubRulesUrl}}">Regulamin</a>
    </div>
    <div id="text-copyright">Copyright &copy; 2018
      <div class="text-url">
        <a target="_blank" rel="noopener noreferrer" href="{{kioUrl}}">Katedra Inżynierii Oprogramowania</a>
      </div>
    </div>
  </div>
</div>