table {
    float: none;
    display: block;
    overflow: hidden;
    background-color: transparent;   
    margin-top: 30px;
}


td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
    padding: 0;
}

td{
    min-width: 60vw;
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
}

tr{
    float: none;
    display: contents;
    overflow: hidden;
}

mat-paginator{
    background-color: transparent;
}

label {
    font-family: var(--main-font-name), sans-serif;
    vertical-align: middle;
    cursor: pointer;
}

img {
    vertical-align: middle;
    cursor: pointer;
}

#noResultsLabel{
    text-align: center;
    margin: 10%;
}