#container{
    width:50%;
    height: auto;
}

mat-grid-tile{
    padding: 0px;
    margin: 0px;
    width:auto;
}

h5 {
    font-size: 12px;
    font-family: var(--main-font-name), sans-serif;
}

mat-grid-tile-footer{
    float: right;
}
