<div id=container>
  <mat-grid-list cols="4" rowHeight="3:1">
      <mat-grid-tile mat-stroked-button *ngFor="let semester of getSemestersToDisplay(beginIndex, endIndex)" 
      (click)="chooseSemester(semester)" [style.background]="getColor(semester)">
        {{semester.name}}
      </mat-grid-tile>
  </mat-grid-list>
  <img src={{pathToLeftArrow}} *ngIf="beginIndex > 0" (click)="moveToPrevious()"/>
  <img src={{pathToRightArrow}} *ngIf="endIndex < this.semesters.length" (click)="moveToNext()"/>
</div>

