#container{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.12);
    display: grid;
    width:50%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

mat-grid-tile{
    padding: 0px;
    margin: 0px;
    width:auto;
}

h5 {
    color: black;
    font-size: 12px;
    font-family: var(--main-font-name), sans-serif;
}

mat-grid-tile-footer{
    float: right;
}

#save {
    float: left;
    color: black;
    font-size: 12px;
    font-family: var(--main-font-name), sans-serif;
    font-weight: bold;
}

button{
    background-color: transparent !important;
}
button:hover {
    cursor: pointer;
}

#arrows {
    margin-right:1vw;
    float: right;
    margin-bottom: 0;
}
#arrows:hover {
    cursor: pointer;
}
