#container{
    max-width: 70vw;
    display: inline-grid;
    width:55%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

mat-grid-list {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
}

mat-grid-tile{
    padding: 0px;
    margin: 0px;
    width:auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

h5 {
    color: var(--color-black);
    font-size: 12px;
    font-family: var(--main-font-name), sans-serif;
}

#arrows {
    margin-top:1vw;
    margin-bottom: 0;
}
#arrows:hover {
    cursor: pointer;
}

img {
    width: 20px;
    height: 20px;
}

#save-semesters {
    color: var(--color-black);
    font-size: 12px;
    font-family: var(--main-font-name), sans-serif;
    font-weight: bold;
    background-color: transparent !important;
}

#save-semesters:hover {
    cursor: pointer;
}