<div id=menu_bar>
  <div id=menu_bar_content>
    <div id="logo_content" class="child_vertical_position">
      <a href="my-projects">
        <img id=img_logo src={{pathToLogo}}>
      </a>
    </div>
    <div id="menu_content" class="child_vertical_position">
      <app-menu-button title="Wyloguj" href="{{addressToLogOut}}" class="margin_extreme_right"></app-menu-button>
      <!-- <app-menu-button title="Aleksander Kania" class="margin_extreme_right"></app-menu-button> -->
      <app-menu-button title="Dodaj projekt" href="add-project" class="margin_extreme_right"></app-menu-button>
      <app-menu-button title="Baza projektów" href="projects-base" class="margin_extreme_right"></app-menu-button>
      <app-search-input id=search-input></app-search-input>
    </div>
  </div>
</div>