/* visibility: hidden; */
.warning, .success, .error {
    --global-transition-duration: 0.5s; 
}

.warning {
    color: #9F6000;
    background-color: var(--color-yellow-basic);
    transition: background-color var(--global-transition-duration);
}
.warning:hover {
    transition: background-color  var(--global-transition-duration);
    background-color: var(--color-yellow-strong);
 }

.success {
    color: rgb(79, 138, 16);
    background-color: #d8f7a3;
    transition: background-color var(--global-transition-duration);
}
.success:hover {
   transition: background-color  var(--global-transition-duration);
   background-color: #c9f282;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    transition: background-color var(--global-transition-duration);
}
.error:hover {
    transition: background-color var(--global-transition-duration);
    background-color: #fcb0b0;
 }
 