/* visibility: hidden; */

.warning, .success, .error {
    --global-transition-duration: 0.5s;
}

.warning {
    color: var(--color-orange-strong);
    background-color: var(--color-yellow-basic);
    transition: background-color var(--global-transition-duration);
}

.warning:hover {
    transition: background-color var(--global-transition-duration);
    background-color: var(--color-yellow-strong);
}

.success {
    color: var(--color-green);
    background-color: var(--color-green-light);
    transition: background-color var(--global-transition-duration);
}

.success:hover {
    transition: background-color var(--global-transition-duration);
    background-color: var(--color-green-light-2);
}

.error {
    color: var(--color-red);
    background-color: var(--color-red-light);
    transition: background-color var(--global-transition-duration);
}

.error:hover {
    transition: background-color var(--global-transition-duration);
    background-color: var(--color-red-light-2);
}