    <mat-chip-list #chipList name="chip-list">
      <div class='chip-list-wrapper'>
        <mat-chip
          *ngFor="let fruit of elements"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(fruit)"
          [disableRipple]="true"
          class = "chip-{{orientation}} chip">
          
          <div class='chip-text'>
              {{fruit.name}}
          </div>
          <img src="assets/delete-button-smaller.png" matChipRemove *ngIf="removable == 'true'" class="chip-remove"/>
        </mat-chip>
      </div>
      </mat-chip-list>




