.example-chip-list {
    width: 100%;
  }

.chip-vertical {
    display: inline-block;
    float: left;
    clear: both;
    width: 100%;
}

.chip-horizontal {
    display: inline-block;
}

.chip-list-wrapper {
    display: block !important;
    margin: 4px;
}

.chip-text {
    display: inline-block;
    font-size: 15px;
    font-family: var(--main-font-name), sans-serif;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.chip-remove {
    opacity: 0.95 !important;
    float: right;
}

.chip-visibility {
    float: right;
}

.chip-image {
    margin-top: 3px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    vertical-align: middle;
}

.chip-radio {
    margin-bottom: 3px !important;
}

.chip-remove:hover {
    opacity: 1 !important;
    cursor: pointer;
}

.mat-standard-chip {
    transition: none !important;
}

.chip {
    background: var(--color-blue-light) !important;
    border-radius: 0px !important;
    padding: 7px;
    margin: 4px;
    cursor: pointer;
}

.chip-form-angular {
    width: 100%;
}

.chip-input-angular {
    width: 100%;
    margin: 0;
}
