    <mat-chip-list #chipList name="chip-list">
      <div class='chip-list-wrapper'>
        <mat-chip
          *ngFor="let fruit of elements"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(fruit)"
          [disableRipple]="true"
          class = "chip-{{orientation}} chip-{{fruit.selected}} chip" 
          >
          <img matTooltip='{{tooltipMainPhotoSelected}}' src="assets/radio-on-button-smaller.png" (click)="select(fruit)" *ngIf='fruit.selected && selectable' class="chip-image chip-radio"/>
          <img matTooltip='{{tooltipChooseMainPhoto}}' src="assets/radio-off-button-smaller.png" (click)="select(fruit)" *ngIf='!fruit.selected && selectable' class="chip-image chip-radio"/>
          <div ng-class="visibilityChangeable ? (removable ? 'chip-margin2 chip-text' : 'chip-margin1 chip-text') : (removable ? 'chip-margin1 chip-text' : 'chip-text')" (click)="select(fruit)">
              {{fruit.name}}
          </div>
          <div class='right-elements'>
            <img matTooltip='{{tooltipDelete}}' src="assets/delete-button-smaller.png" matChipRemove *ngIf="removable" class="chip-remove chip-image"/>
            <app-visibility-select matTooltip='{{tooltipVisibility}}' *ngIf='visibilityChangeable' [selected]="fruit.visibility" [allowPrivate]="false" [allowLoggedUsers]="allowLoggedUsers" (selectionChange)="selectionChange(fruit, $event)" class="chip-image chip-visibility"></app-visibility-select>
          </div>
        </mat-chip>
      </div>
      
      </mat-chip-list>

      









