<button type="button" mat-stroked-button id="add-project-button" mat-stroked-button (click)="navigateToAddProjectPage()">
    Dodaj nowy projekt
</button>

<div id="center">
    <div id="{{showFilters ? '': 'wrapper'}}">
        <button mat-stroked-button id="showFiltersButton" (click)="showFilters = !showFilters">
            <img (click)="showFilters = !showFilters" [src]="showFilters ? 'assets/up-arrow2.png' :'assets/down-arrow2.png'" /> {{ showFilters ? 'Zwiń filtry' : 'Pokaż filtry' }}
        </button>
    </div>
</div>
<div *ngIf="showFilters" [@fadeInOut]>
    <app-my-projects-search-form id="searchForm" (filtersSubmitted)="getSearchResults($event)"></app-my-projects-search-form>
</div>

<div id="quick-filter-buttons-container">
    <button class="quick-filter-button" id="{{checkedInProgress ? 'lets-color': ''}}" mat-stroked-button (click)="filterByStatus(statusInProgress)">{{statusInProgress}}</button>
    <button class="quick-filter-button" id="{{checkedClosed ? 'lets-color': ''}}" mat-stroked-button (click)="filterByStatus(statusClosed)">Zakończone</button>
    <button class="quick-filter-button" id="{{checkedProblematic ? 'lets-color': ''}}" mat-stroked-button (click)="filterByStatus(statusProblematic)">Problematyczne</button>
</div>
<div id="sort-bar">
    <div id="sort-results">
        <app-sort-results [sortingRules]=sortingRules (ruleSelectionChanged)="applySorting($event)"></app-sort-results>
    </div>
    <div id="number-label">
        <label>Liczba wyświetlanych projektów: {{readDisplayedProjectsLength()}}</label>
    </div>
</div>


<div>
        <app-error-info #noResultsError></app-error-info>
    <div id="noResultsLabel" *ngIf="showNoResultsLabel">
    </div>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="results">
            <th mat-header-cell *matHeaderCellDef [hidden]="true"> Wyniki wyszukiwania </th>
            <td mat-cell *matCellDef="let project">
                <a>
                    <app-search-result-single-project [project]="project" [allowPin]="true" [allowEdit]="true"></app-search-result-single-project>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" *ngIf="displayPaginator()"></mat-paginator>
</div>