#showFiltersButton {
    min-width: 15rem;
    border-radius: 2rem;
    z-index: 999;
    background-color: var(--color-whitesmoke);
    border-color: var(--color-gray);
    margin-top: -20px;
    font-family: var(--main-font-name), sans-serif;
}

#wrapper:before, #wrapper:after {
    content:" ";
    width: 10rem;
    height: 1px;
    margin: 0 10px 4px;
    background-color: var(--color-orange-muted);
    display:inline-block;
}

#center {
    text-align: center;
}

#quick-filter-buttons-container {
    text-align: right;
    margin-top: 50px;
}

.quick-filter-button {
    border-color: var(--color-gray);
    font-family: var(--main-font-name), sans-serif;
    width: 120px;
}

img  {
    margin-right: 15px;
}

#addProject {
    margin-bottom: 30px;
}

#add-project-button {
    background: url('../../assets/add-button-orange.png') no-repeat 8px 9px
    var(--color-blanc-with-opacity);
    border-color: var(--color-gray);
    font-family: var(--main-font-name), sans-serif;
    font-weight: bold;    
    width: 210px;
    margin-top: 7px;
    margin-bottom: 20px;
}

table {
    float: none;
    display: block;
    overflow: hidden;
    background-color: transparent;
}

mat-paginator {
    background-color: transparent;
}

#lets-color {
    background-color: var(--color-blue-light);
}