<div id="content" [hidden]=hidden>
    <slideshow (click)="onClick($event)" id="slideshow" #slider
           [height]="'25vw'"
           [minHeight]="'25vw'"
           [showArrows]="true"
           [imageUrls]="images"
           [lazyLoad]="imageSources?.length > 1"
           [autoPlayWaitForLazyLoad]="true"
           [showDots]="false"
           [backgroundSize]="'contain'"
           [arrowSize]="'30px'"
           [backgroundRepeat]="'no-repeat'"
           [dotColor]="'#FFF'"
           [autoPlay]="false">
</slideshow>
</div>
