/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=PT+Sans");


body {
    --page-content-padding: 20px;
    --page-content-width: 65%;
    --margin-bar-elements: 10px;
    --menu-bar-height: 55px;
    --footer-height: 100px;
    --footer-main-page-height: 120px;

    --small-font-size: 13px;
    --normal-font-size: 16px;
    --main-font-name: 'PT Sans';
    
    --color-blue-light-muted: rgb(208, 211, 233); /* submit button background color */
    --color-blue-light: #D4E3FC; /* input list background color */
    --color-azure: #72bcf0; /* h4 */
    --color-blue: #309ae6; /* footer link */ 
    --color-blue-navy: #343a40; /* main page footer background color, buttons border and text color */

    --color-green-light: #d8f7a3; /* error component: successes */
    --color-green-light-2: #c9f282; /* error component: successes */
    --color-green: rgb(79, 138, 16); /* error component: successes */

    --color-red-light: #FFD2D2; /* error component: errors */
    --color-red-light-2:  #fcb0b0; /* error component: errors */
    --color-red: #D8000C; /* error component: errors */
    --color-red-strong: red; 

    --color-yellow-light: #ffc; /* notes background */
    --color-yellow-basic: #FEEFB3;
    --color-yellow-strong: #ffe16d; /* error component: warnings */
    --color-orange: orange; /* h2, menu bar background color */
    --color-orange-strong: #9F6000; /* error component: warnings */
    --color-orange-muted: rgba(255, 166, 0, 0.39); /* filters border color */

    --color-white: white;
    --color-white-snow: #fcfcfc;  /* search input background color */
    --color-blanc: rgb(219, 211, 200); /* page background color */
    --color-blanc-with-opacity: rgba(219, 211, 200, 0.255); /* filters background */
    --color-whitesmoke: whitesmoke; /* content container background */
    --color-gray-light: #e0dfde; /* footer background color */
    --color-gray: #7a7a7a; /* h5 */

    --color-black: black;

    margin: 0px;
    padding: 0px;
    background-color: var(--color-blanc);
}


h1 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-orange);
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
}

h2 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-orange);
    font-size: 25px;
    font-weight: normal;
    font-weight: 400;
    margin: 0;
    padding-top: 0;
}

h3 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-black);
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

h4 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-azure);
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

h5 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-gray);
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

h6 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-black);
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

*:focus {
    outline: none;
}

.submit-button {
    background-color: var(--color-blue-light-muted);
    color: var(--color-blue-navy);
    font-weight: bold;
    font-family: var(--main-font-name), sans-serif;
}

.center_vertically_parent {
    min-height: calc(100vh - (var(--menu-bar-height) + var(--footer-height) + var(--page-content-padding) *2));
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.rounded_element {
    margin: 10px 0px;
    padding: 12px;
    border-radius: 5px; 
    box-shadow:1px 1px 3px #888;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--main-font-name), sans-serif;
    font-weight: normal;
}

.mat-tooltip {
    font-family: var(--main-font-name), sans-serif;
    font-size: var(--small-font-size);
}