/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=PT+Sans");


body {
    --page-content-padding: 20px;
    --page-content-width: 65%;
    --margin-bar-elements: 10px;
    --menu-bar-height: 55px;
    --footer-height: 100px;
    --normal-font-size: 16px;
    --main-font-name: 'PT Sans';
    --footer-main-page-height: 120px;

    --color-azure: #72bcf0;
    --color-blue: #309ae6;
    --color-gray: #7a7a7a;
    --color-orange: orange;
    --color-yellow-strong: #ffe16d;
    --color-yellow-basic: #FEEFB3;

    margin: 0px;
    padding: 0px;
    background-color: rgb(219, 211, 200);
}


h1 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-orange);
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
}

h2 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-orange);
    font-size: 25px;
    font-weight: normal;
    font-weight: 400;
    margin: 0;
    padding-top: 0;
}

h3 {
    font-family: var(--main-font-name), sans-serif;
    color: black;
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

h4 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-azure);
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

h5 {
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-gray);
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

h6 {
    font-family: var(--main-font-name), sans-serif;
    color: black;
    font-size: var(--normal-font-size);
    font-weight: normal;
    margin: 0;
    padding-top: 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

*:focus {
    outline: none;
}

.submit-button {
    background-color: rgb(208, 211, 233);
    color: rgb(7, 26, 56);
    font-weight: bold;
    font-family: var(--main-font-name), sans-serif;
}

.center_vertically_parent {
    min-height: calc(100vh - (var(--menu-bar-height) + var(--footer-height) + var(--page-content-padding) *2));
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.rounded_element {
    margin: 10px 0px;
    padding: 12px;
    border-radius: 5px; 
    box-shadow:1px 1px 3px #888;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--main-font-name), sans-serif;
    font-weight: normal;
}