img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.centered_element {
    display: block;
}
 
table > *:first-child:not(thead) th:first-child { /*h5*/
    font-family: var(--main-font-name), sans-serif;
    color: var(--color-black);
    font-size: var(--normal-font-size);
    font-weight: normal;
    width: 150px;
}

table > *:first-child:not(thead) th:nth-child(2), .right-element { 
    width: 450px;
}

table > *:first-child:not(thead) th:nth-child(3),  { 
    width: 100px;
}

#button-container {
    margin-top: 30px;
    text-align: center;
}

.submit-button-collaborator {
    margin-bottom: 10px;
    display: block;
}