<img src='assets/add.png' />
<br/>
<h2>Dodaj projekt</h2>
<br/>

<form #createproject="ngForm">
    <label class="left_element">Tytuł projektu</label>
    <mat-form-field class="right_element">
        <input #titleInput matInput name="title" ngModel>
    </mat-form-field>
    <form #authors="ngForm" (ngSubmit)="addAuthor(authors.value.author)">
        <label class="left_element">Współtwórcy </label>
        <mat-form-field class="right_element">
            <input #authorInput name="author" ngModel matInput>
        </mat-form-field>
        <br/>
        <label class="left_element"> </label>
        <div class="right_element">
            <app-input-list #authorsList orientation="vertical" (changeElements)="recieveElements($event)" removable="true" hideInput="true"></app-input-list>
        </div>

    </form>
    <br/>
    <br/>
    <button type="button" (click)="createProjectClick();" mat-stroked-button class="submit-button">Dodaj i przejdź do edycji</button>
</form>