img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

label {
    font-family: var(--main-font-name), sans-serif;
    color: black;
    font-size: var(--normal-font-size);
    font-weight: normal;
    padding-top: 20px;
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right:20px;
}

.right_element {
    width: 50%;
}