label {
    font-family: var(--main-font-name), sans-serif;
    margin-right: 10px;
    width: 200px;
    padding-right: 10px;
}

#h2 {
    font-family: var(--main-font-name), sans-serif;
    color: orange;
    font-size: 25px;
    font-weight: normal;
    font-weight: 400;
    margin-top: 20px;
    position: relative;
    margin-bottom: 30px;
}

.wrapper-right {
    position: absolute;
    right: 0;
    top: 10px;
}

.wrapper-width {
    width: 80%;
}

.file-upload > input
{
    display: none;
}

#button-container {
    text-align: center;
}
  
#divider {
    width: 50px;
    height: auto;
    display: inline-block;
}

.fileContainer {
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color:whitesmoke;
    color: rgb(7, 26, 56);
    font-weight: bold;
    font-family: var(--main-font-name), sans-serif;

}

.fileContainer [type=file] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    right: 0;
    left: 0;
}

.list {
    max-width: 99%;
    margin-top: 5px;
    margin-bottom: 10px;
}

img, .verticalMiddle {
    vertical-align: middle;
}

#wrapper-width-licence {
    width: 400px;
}

#wrapper-height {
    height: 100px;
    margin-top: -19px;
}

.cursor {
    cursor: pointer;
}

.stay-up {
    vertical-align: top;
}

#save_semesters {
    float: left;
    color: black;
    font-size: 12px;
    font-family: var(--main-font-name), sans-serif;
    font-weight: bold;
    background-color: transparent !important;
}

#save_semesters:hover {
    cursor: pointer;
}