<br/><label id="h2">Edycja projektu</label>
<mat-form-field class="wrapper-right">
  <mat-select placeholder="Status projektu">
    <mat-option *ngFor="let status of statuses" [value]="status.value">{{status.viewValue}}</mat-option>
  </mat-select>
</mat-form-field><br/><br/>
<form>
    <label>Tytuł:</label>
    <mat-form-field class="wrapper-width"><input matInput name="title"></mat-form-field><br/>
    <label>Opis:&nbsp;</label>
    <mat-form-field class="wrapper-width"><textarea matInput name="description"></textarea></mat-form-field><br/>
    <label>Typ projektu: </label> 
    <mat-form-field>
        <mat-select [(value)]="selected-type">
            <mat-option *ngFor="let type of project_types" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
    </mat-form-field><br/>
    <label class="image-upload">
        <label for="file-input"><img src="assets/add-attachment.png"/></label>    
        <input (change)="onFileChange($event)"  id="file-input" type="file"/>
    </label> 
    <label>Dodaj pracę </label><br/>
    <label class="image-upload">
        <label for="file-input"><img src="assets/add-attachment.png"/></label>    
        <input (change)="onFileChange($event)" id="file-input" type="file"/>
    </label>
    <label>Dodaj program i/lub kod programu </label><br/>
    <label class="image-upload">
        <label for="file-input"><img src="assets/add-photo.png"/></label>    
        <input (change)="onFileChange($event)" id="file-input" type="file"/>
    </label>
    <label>Dodaj zdjęcia programu </label><br/>
    <label class="image-upload">
        <label for="file-input"><img src="assets/add-attachment.png"/></label>    
        <input (change)="onFileChange($event)" id="file-input" type="file"/>
    </label>
    <label>Dodaj instrukcję obsługi programu </label><br/>
    <label class="image-upload">
        <label for="file-input"><img src="assets/add-attachment.png"/></label>    
        <input (change)="onFileChange($event)" id="file-input" type="file"/>
    </label>
    <label>Dodaj instrukcję uruchomienia programu i opis wymaganego środowiska uruchomieniowego </label><br/>
    <label class="image-upload">
        <label for="file-input"><img src="assets/add-attachment.png"/></label>    
        <input (change)="onFileChange($event)" id="file-input" type="file"/>
    </label>
    <label>Dodaj inne załączniki </label><br/><br/>
    <label>Wybierz licencję: </label>
    <mat-form-field>
        <mat-select [(value)]="selected-licence">
            <mat-option *ngFor="let licence of licences" [value]="licence.value">{{licence.viewValue}}</mat-option>
        </mat-select>
    </mat-form-field><br/>
    <label>Semestry wywtarzania: </label> <img src='assets/calendar.png'/><br/><br/>
    <label>Tagi:</label>
    <mat-form-field class="wrapper-width-smaller"><input matInput name="tags"></mat-form-field><br/>
    <br/> <br/> <br/> <br/>
    <div id="button-container">
        <button type="submit" mat-stroked-button class="submit-button">Zatwierdź zmiany</button>
        <div id="divider"></div>
        <button type="submit" mat-stroked-button class="submit-button">Publikuj na stronie</button>
    </div>  
</form>