.content-container {
    width: var(--page-content-width);
    background-color:whitesmoke;
    margin-left: auto;
    margin-right:auto;
    min-height: calc(100vh - var(--menu-bar-height));
}

#content {
    padding: 20px;
}