.content-container {
    width: var(--page-content-width);
    background-color: var(--color-whitesmoke);
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100vh - var(--menu-bar-height) - var(--footer-height));
}

#content {
    padding: var(--page-content-padding);
}