<h2 mat-dialog-title> Regulamin korzystania z serwisu KIOHub administrowanego przez Politechnikę Gdańską
  funkcjonującego pod domeną o nazwie kiohub.eti.pg.gda.pl:</h2>
<mat-dialog-content class="mat-typography">
  <h3>
    I. Postanowienia ogólne i definicje
  </h3>

  <h5>
    <ol>
      <li>Administratorem serwisu KIOHub (serwis dostępny pod adresem <a target="_blank" href="http://kiohub.eti.pg.gda.pl">http://kiohub.eti.pg.gda.pl</a>)
        jest Politechnika Gdańska z
        siedzibą przy ulicy Gabriela Narutowicza 11/12 w Gdańsku, 80-233 Gdańsk, posiadająca NIP: 5840203593, REGON:
        000001620.
        Aktualne dane kontaktowe i inne dane Politechniki Gdańskiej (m.in. adres, numery telefonów, numery faksów,
        adresy e-mail)
        umieszczone są na stronie <a target="_blank" href="https://pg.edu.pl/uczelnia/kontakt">https://pg.edu.pl/uczelnia/kontakt</a>.
      </li>
      <li>Administrator serwisu kiohub.eti.pg.gda.pl zwany jest w dalszej części niniejszego regulaminu "Politechnika
        Gdańska".</li>
      <li>Niniejszy regulamin zwany jest w dalszej części "Regulaminem".</li>
      <li>Pozostałe definicje stosowane w Regulaminie:</li>
      <ol type="a">
        <li>użytkownik – osoba fizyczna korzystająca z serwisu kiohub.eti.pg.gda.pl, niezależnie od faktu umieszczenia
          w tym serwisie
          jakichkolwiek informacji, niezależnie od faktu zalogowania. Użytkownikiem może być każda osoba fizyczna. W
          przypadku
          określonych usług serwisu kiohub.eti.pg.gda.pl, Politechnika Gdańska zastrzega sobie wprowadzenie innych
          kryteriów
          uprawniających do korzystania z serwisu lub jego części, w tym w szczególności spełnienia wymogu
          identyfikowania
          się przez Użytkownika Centralnym Punktem Logowania Politechniki Gdańskiej.</li>
        <li><a target="_blank" href="http://kiohub.eti.pg.gda.pl">http://kiohub.eti.pg.gda.pl</a> - serwis o
          charakterze naukowym, umożliwiający między innymi udostępnianie i przeglądanie
          produktów wytworzonych w ramach prac inżynierskich, magisterskich, czy projektów grupowych w Katedrze
          Inżynierii
          Oprogramowania Politechniki Gdańskiej.</li>
        <li>informacje o projekcie – wszelkie dane o projekcie umieszczane w serwisie kiohub.eti.pg.gda.pl; o zakresie
          informacji
          decyduje współautor projektu. Serwis umożliwia umieszczenie (w sposób widoczny dla innych użytkowników) w
          szczególności
          następujących danych: tytuł i opis projektu, załączniki (takie jak: praca naukowa, program, zdjęcia programu,
          instrukcja
          obsługi programu), informacje o współautorach (imiona i nazwiska twórców projektu).</li>
        <li>serwery Politechniki Gdańskiej – serwery Politechniki Gdańskiej, na których zainstalowane jest odpowiednie
          oprogramowanie
          obsługujące serwis kiohub.eti.pg.gda.pl i na których zapisane są informacje o projektach oraz wszelkie inne
          treści
          umieszczone w serwisie.</li>
        <li>konto – konto w serwisie kiohub.eti.pg.gda.pl zakładane automatycznie na serwerach Politechniki Gdańskiej
          przez danego
          użytkownika po dokonaniu przez niego uwierzytelnienia w Centralnym Punkcie Logowania Politechniki Gdańskiej,
          za pomocą
          umieszczonego na stronach serwisu formularza (opcja „Zaloguj się”). Poprzez zalogowanie się na konto
          użytkownika
          użytkownik może dokonywać edycji współtworzonych projektów na zasadach określonych w Regulaminie. Konto w
          serwisie
          kiohub.eti.pg.gda.pl może zostać założone wyłącznie przez użytkownika identyfikującego się Centralnym Punktem
          Logowania
          Politechniki Gdańskiej. </li>
      </ol>
    </ol>
  </h5>

  <h3>
    II. Zasady funkcjonowania i korzystania z serwisu kiohub.eti.pg.gda.pl
  </h3>

  <h5>
    <ol>
      <li>Regulamin określa ogólne zasady funkcjonowania i korzystania z serwisu kiohub.eti.pg.gda.pl umożliwiającego
        (między innymi)
        udostępnianie i przeglądanie produktów wytworzonych w ramach prac inżynierskich, magisterskich, czy projektów
        grupowych
        w Katedrze Inżynierii Oprogramowania Politechniki Gdańskiej.</li>
      <li>Politechnika Gdańska zastrzega, iż informacje zawarte w serwisie kiohub.eti.pg.gda.pl w ramach dodawanych
        projektów nie
        są udostępniane przez Politechnikę Gdańską i nie mogą stanowić podstawy jakichkolwiek roszczeń względem
        Politechniki
        Gdańskiej. Treści zawarte w serwisie mają wyłącznie charakter naukowy i udostępniane są przez użytkowników w
        ich własnym
        imieniu i na ich własną odpowiedzialność zgodnie z zasadami wskazanymi przez samych użytkowników. W przypadku,
        w którym
        użytkownik przekazał prawa Politechnice Gdańskiej lub udzielił praw Politechnice Gdańskiej do korzystania z
        informacji
        lub zasobów naukowych na innej podstawie niż korzystanie z serwisu kiohub.eti.pg.gda.pl ich umieszczenie i
        publikowanie
        następuje za zgodą Politechniki Gdańskiej na warunkach tu wskazanych. Politechnika Gdańska umożliwi
        zamieszczenie i
        opublikowanie tych informacji i zasobów. Użytkowik może sprzeciwić się publikacji i rozpowszechniania
        informacji poprzez
        skorzystanie z właściwych funkcjonalności w serwisie kiohub.eti.pg.gda.pl.</li>
      <li>Wszelkie działania w serwisie dokonane z użyciem danego loginu i hasła są traktowane jako działania dokonane
        przez uprawnionego
        użytkownika. </li>
      <li>Dla prawidłowego i pełnego korzystania z serwisu kiohub.eti.pg.gda.pl konieczne są między innymi: posiadanie
        odpowiednich
        urządzeń umożliwiających korzystanie z Internetu (w szczególności komputera lub innego urządzenia pozwalającego
        na
        eksploatację zasobów Internetu), posiadanie odpowiedniego oprogramowania niezbędnego dla eksploatacji zasobów
        Internetu
        (np. przeglądarek internetowych) oraz łącza internetowego jak także dokonanie uwierzytelnienia konta
        użytkownika.</li>
      <li>Uwierzytelnienie konta użytkownika polega na zalogowaniu użytkownika z wykorzystaniem Centralnego Punktu
        Logowania Politechniki
        Gdańskiej. Wraz z dokonaniem tej czynności, użytkownik zgadza się na przekazanie właścicielowi i
        administratorowi serwisu
        znajdujących się w bazie centralnego punktu logowania podstawowych danych, takich jak imię, nazwisko,
        identyfikator
        użytkownika.</li>
      <li>Użytkownik może mieć tylko jedno konto, do którego dostęp możliwy jest poprzez Centralny Punkt Logowania
        Politechniki
        Gdańskiej. Posiadanie konta gwarantuje możliwość korzystania z określonych opcji serwisu w szczególności
        umieszczania
        i publikowania projektów, których jest autorem lub współautorem. Użytkownik niezarejestrowany (tzw. gość) może
        korzystać
        z serwisu w ramach jego podstawowej funkcjonalności.</li>
      <li>Każdy użytkownik zobowiązany jest do bezwzględnego przestrzegania postanowień Regulaminu oraz obowiązujących
        przepisów
        prawa, niezależnie od tego, czy jest zalogowany w serwisie.</li>
      <li>Wszelkie prawa do serwisu, w tym w szczególności prawa autorskie (z wyłączeniem utworów umieszczanych przez
        użytkowników,
        w szczególności utworów, których autorstwo oznaczono inaczej) przysługują Politechnice Gdańskiej.</li>
      <li>Użytkownik w ramach korzystania z serwisu na zasadach określonych Regulaminem i powszechnie obowiązującymi
        przepisami
        prawa, w ramach podstawowej funkcjonalności oferowanej przez serwis ma prawo w szczególności:</li>
      <ol type="a">
        <li>przeglądać ten serwis, w tym pliki i informacje umieszczone i opublikowane w serwisie przez siebie lub
          innych użytkowników,
          wyszukiwać w serwisie poprzez udostępnione narzędzia wyszukiwania opublikowanych w serwisie zasobów
          naukowych,</li>
        <li>umieszczać i publikować zasoby naukowe, pliki, informacje o projektach oraz wskazywać zasady ich
          udostępniania. </li>
      </ol>
      <li>Warunkiem korzystania z serwisu jest wyrażenie przez użytkownika zgody na postanowienia Regulaminu.
        Korzystanie przez
        użytkownika w jakikolwiek sposób i w jakimkolwiek zakresie z serwisu oznacza, iż uważnie zapoznał się on z
        treścią
        Regulaminu, akceptuje Regulamin i wyraża zgodę na jego postanowienia. Korzystanie przez użytkownika z serwisu
        polegające
        na umieszczaniu w tym serwisie plików lub innych treści w serwisie oznacza, iż użytkownik zaświadcza, iż
        przysługują
        mu prawa do umieszczenia takich informacji, plików lub innych. Konsekwencje takich działań, w szczególności
        brak stosownych
        praw lub uprawnień, obciążają wyłącznie użytkownika dopuszczającego się niezgodnych z prawem działań.</li>
      <li>Za skutki działań użytkownika polegających na umieszczaniu informacji lub innych treści w serwisie
        odpowiedzialność ponosi
        wyłącznie ten użytkownik. W przypadku gdyby jakikolwiek podmiot wystąpił z roszczeniami wobec Politechniki
        Gdańskiej
        z tytułu umieszczenia przez danego użytkownika określonych plików (w szczególności zdjęć lub pełnych treści
        prac naukowych)
        lub innych treści w serwisie, użytkownik będzie zobowiązany bezwarunkowo, nieodwołalnie i na pierwsze żądanie
        Politechniki
        Gdańskiej lub takiego podmiotu zadość uczynić jego uzasadnionym roszczeniom. W przypadku gdyby Politechnika
        Gdańska
        już zadość uczyniła takim roszczeniom, użytkownik będzie zobowiązany do zapłaty Politechnice Gdańskiej
        wszelkich poniesionych
        z tego tytułu przez Politechnikę Gdańską kosztów, w tym kosztów pomocy prawnej. Zobowiązania użytkownika
        określone
        w niniejszym punkcie dotyczą sytuacji, gdy roszczenia osób trzecich objęte niniejszym punktem będą bezpośrednią
        konsekwencją
        działań lub zaniechań użytkownika dotyczących zamieszczenia określonych treści w serwisie.</li>
      <li>Użytkownik korzystając z serwisu poprzez umieszczanie konkretnych plików lub innych treści zapewnia, iż służą
        mu w tym
        względzie wszelkie prawa, w tym w szczególności prawa majątkowe autorskie, że nie narusza swym działaniem praw
        osób
        trzecich (w tym dóbr osobistych) oraz że jest świetle prawa władny do takich działań.</li>
      <li>Użytkownik umieszczając i publikując w serwisie kiohub.eti.pg.gda.pl pliki lub inne treści może indywidualnie
        określić
        warunki korzystania z nich przez pozostałych użytkowników.</li>
      <li>Użytkownik udostępniając pliki lub inne treści w serwisie kiohub.eti.pg.gda.pl oświadcza, iż udzielił
        pozostałym użytkownikom
        licencji w zakresie niezbędnym do korzystania z tych plików lub treści na zasadach opisanych w niniejszym
        Regulaminie.</li>
      <li>Z tytułu korzystania z serwisu Politechnika Gdańska nie pobiera od użytkownika wynagrodzenia. Z tytułu
        korzystania z
        serwisu użytkownikowi nie należy się jakiekolwiek wynagrodzenie. Z tytułu korzystania z plików lub innych
        treści udostępnionych
        przez użytkownika w serwisie kiohub.eti.pg.gda.pl zgodnie z postanowieniami niniejszego Regulaminu i właściwymi
        warunkami
        korzystania, użytkownikowi, który udostępnił pliki lub treści nie przysługuje jakiekolwiek wynagrodzenie.
        Użytkownik
        oświadcza, iż nie będzie występował z jakimikolwiek roszczeniami finansowymi wobec użytkowników korzystających
        z plików
        lub treści zgodnie z niniejszym Regulaminem i właściwymi warunkami korzystania.</li>
      <li>Z serwisu użytkownicy mogą korzystać niezależnie od faktu posiadania konta. Posiadanie konta umożliwia
        użytkownikowi
        dodawanie i edycję treści projektów zgodnie z zakresem jego uprawnień, a także wyświetlanie współtworzonych
        projektów.
        Każdy użytkownik, niezależnie od faktu posiadania konta, może przeglądać serwis.</li>
      <li>Podanie jakichkolwiek danych projektu jest dobrowolne. Użytkownik samodzielnie określa zakres i treść danych,
        które zamierza
        udostępnić. </li>
      <li>Treści zamieszczane przez użytkowników dostępne są niezwłocznie po ich umieszczeniu przez użytkownika, przy
        czym Politechnika
        Gdańska zastrzega możliwość opóźnień.</li>
      <li>Użytkownik umieszczając w serwisie kiohub.eti.pg.gda.pl jakiekolwiek treści jednocześnie wyraża zgodę na
        bezterminowe:</li>
      <ol type="a">
        <li>publikowanie (i rozpowszechnianie) przez Politechnikę Gdańską lub jej jednostki zależne oraz następców
          prawnych obecnie
          oraz w przyszłości powołanych (wszystkich lub niektórych) treści na stronie głównej serwisu lub innych
          stronach tego
          serwisu lub innych serwisów aniżeli serwis kiohub.eti.pg.gda.pl administrowanych przez Politechnikę Gdańską
          oraz
          wyraża zgodę na bezterminowe umieszczenie tych treści w dostępnych w serwisie (lub innych serwisach
          Politechniki
          Gdańska), obecnie lub w przyszłości, wyszukiwarkach treści lub innych wyszukiwarkach. Wyszukiwarki, o których
          mowa
          w zdaniu poprzedzającym, są mechanizmem odnalezienia w serwisie projektów spełniających określone przez
          użytkownika
          wyszukującego kryteria,</li>
        <li>publikowanie (i rozpowszechnianie) przez Politechnikę Gdańską lub jej następców prawnych obecnie oraz w
          przyszłości
          powołanych (wszystkich lub niektórych) treści w inny sposób aniżeli określony w punkcie a), jakimikolwiek
          technikami,
          za pomocą jakichkolwiek nośników lub środków, za pomocą jakichkolwiek mediów.</li>
      </ol>
      <li>Zgody na publikowanie (rozpowszechnianie), o których mowa oznaczają w szczególności, iż powołane treści mogą
        zostać przez
        Politechnikę Gdańską (w całości lub części) upublicznione np. w ramach serwisu kiohub.eti.pg.gda.pl, a dostęp
        do tak
        upublicznionych profili (danych w nich zawartych) będzie miał lub potencjalnie może mieć bliżej nieokreślony
        krąg podmiotów.</li>
      <li>Z tytułu udzielenia powyższych zgód, użytkownikowi nie należy się jakiekolwiek wynagrodzenie. Powyższe zgody
        udzielone
        są bezterminowo. </li>
      <li>Odpowiedzialnym za wszelkie działania związane z posługiwaniem się hasłem do danego konta jest użytkownik
        tego konta.
        Użytkownik jest zobowiązany do utrzymania w ścisłej tajemnicy hasła koniecznego do zalogowania się na konto.
      </li>
      <li>Zakazane jest udostępnianie innym osobom danych niezbędnych do korzystania serwisu z wykorzystaniem loginu i
        hasła użytkownika.
      </li>
      <li>Każdy użytkownik serwisu jest zobowiązany do korzystania z serwisu w sposób zgodny z niniejszym Regulaminem,
        obowiązującym
        w Polsce prawem, normami społeczno-obyczajowymi i zasadami "netykiety", zgodnie z celem, założeniami i
        charakterem
        serwisu. Zakazane jest (i jest rozumiane za naruszenie postanowień niniejszego punktu Regulaminu):</li>
      <ol type="a">
        <li>podszywanie się pod inne osoby;</li>
        <li>publikowanie treści sprzecznych z prawem, normami społeczno-obyczajowymi, naruszających w prawa innych
          osób, w szczególności
          dobra osobiste innych osób; </li>
        <li>naruszanie w jakikolwiek sposób praw własności intelektualnej osób trzecich, w tym praw autorskich osób
          trzecich (w
          szczególności użytkownik może umieszczać wyłącznie pliki oraz informacje, do których posiada odpowiednie
          prawa lub
          uzyskał zgodę na ich publikację w serwisie na zasadach określonych w Regulaminie) oraz informacji osobistych
          osób
          trzecich (w szczególności zakazane jest rozpowszechnianie nazwisk osób bez uzyskania odpowiednich zgód tych
          osób,
          o ile są przez prawo wymagane);</li>
        <li>przenoszenie prawa do korzystania z serwisu na inną osobę;</li>
        <li>inne zachowania użytkownika, w sposób oczywisty sprzeczne z obowiązującym porządkiem prawnym, zasadami
          współżycia społecznego,
          normami społeczno-obyczajowymi lub zasadami "netykiety", w tym zachowania polegające na istotnym, ponad
          przeciętną
          miarę, obciążaniu serwerów lub łączy Politechniki Gdańskiej, dokonywanie włamań, prób włamań do systemów
          informatycznych
          Politechniki Gdańskiej, dokonywanie włamań, prób włamań na konta innych użytkowników itp.</li>
      </ol>
      <li>Naruszenie przez użytkownika któregokolwiek z postanowień poprzedzającego punktu stanowi podstawę do
        natychmiastowego
        usunięcia skutków takich zachowań, w tym usunięcia plików, treści i danych wszystkich projektów udostępnianych
        przez
        użytkownika. Niezależnie od powyższego Politechnika Gdańska może korzystać z dalej idących, przewidzianych
        prawem kroków,
        w tym do powiadomienia właściwych organów państwowych, powołanych do zapobiegania i ścigania przestępstw.</li>
      <li>Administratorem danych osobowych w rozumieniu obowiązujących przepisów jest Politechnika Gdańska z siedzibą w
        Gdańsku,
        ul. Gabriela Narutowicza 11/12, 80-233 Gdańsk.</li>
      <li>Politechnika Gdańska oświadcza, iż dokłada wszelkich starań, by serwis dostępny był nieprzerwanie oraz by
        świadczone
        w jego ramach usługi były na najwyższym możliwym poziomie, przy czym, mając na uwadze nieodpłatny charakter
        serwisu,
        Politechnika Gdańska:</li>
      <ol type="a">
        <li>nie wyklucza czasowego zawieszenia dostępności serwisu, w przypadku konieczności przeprowadzenia napraw lub
          konserwacji
          systemów obsługujących ten serwis oraz w związku z koniecznością ich modernizacji lub rozbudowy,</li>
        <li>zastrzega sobie prawo usunięcia, bezwarunkowo, wszystkich lub niektórych plików, treści, i innych danych
          udostępnionych
          w ramach danego projektu, w przypadkach naruszania przez użytkownika powszechnie obowiązującego prawa,
          Regulaminu,
          "netykiety".</li>
      </ol>
      <li>Politechnika Gdańska oświadcza, iż w ramach serwisu nie świadczy użytkownikom usługi archiwizowania lub
        przechowywania
        wyników, plików, danych itp. udostępnionych przez użytkowników w tym serwisie, toteż sugeruje, by takie dane
        mające
        dla użytkownika znaczenie lub jakąkolwiek wartość były przez użytkownika przechowywane w bezpiecznym miejscu.</li>
      <li>W ramach serwisu Politechnika Gdańska zapewnia narzędzie zgłaszania przez użytkowników do Politechnika
        Gdańska informacji
        o złamaniu prawa, naruszenia dobrych obyczajów, dóbr osobistych, czy niniejszego Regulaminu. Użytkownicy
        powinni wykorzystywać
        ten mechanizm w każdym przypadku oczywistego nielegalnego lub sprzecznego z Regulaminem działania użytkownika.
        Politechnika
        Gdańska udostępnia użytkownikom adres poczty elektronicznej w celu zgłaszania działań nielegalnych lub
        sprzecznych
        z Regulaminem helpdesk@pg.edu.pl. </li>
      <li>Politechnika Gdańska oświadcza, iż dokłada wszelkich starań, aby zapewnić użytkownikom wysoki poziom
        bezpieczeństwa w
        zakresie korzystania z serwisu. Wszelkie zdarzenia mające wpływ na bezpieczeństwo przekazu informacji, w tym
        również
        dotyczące podejrzenia udostępniania plików zawierających wirusy i innych plików o podobnym charakterze lub
        innych aniżeli
        pliki treści o podobnym charakterze, należy zgłaszać na adres helpdesk@pg.edu.pl. Politechnika Gdańska do
        korzystania
        z Internetu, w tym serwisu, zaleca używanie aktualnego oprogramowania antywirusowego lub innego chroniącego
        użytkownika
        oprogramowania.</li>
      <li>Politechnika Gdańska w celu poprawiania jakości serwisu zastrzega sobie prawo do zmiany funkcjonalności
        serwisu bez konieczności
        uprzedniego powiadamiania o tym fakcie użytkowników.</li>
      <li>W ramach przewidzianej dla serwisu funkcjonalności Politechnika Gdańska może wprowadzać mechanizmy
        pozwalające wyszukiwać
        określone treści wedle odpowiednich kryteriów.</li>
      <li>Niezależnie od innych postanowień Regulaminu wyraźnie wyłączających odpowiedzialność Politechniki Gdańskiej
        lub zezwalających
        Politechnice Gdańskiej na określone działania, przez co wyłączona jest odpowiedzialność Politechniki Gdańskiej
        za takie
        działania, Politechnika Gdańska nie odpowiada również w najszerszym dopuszczalnym przez prawo zakresie:</li>
      <ol type="a">
        <li>za poprawność przedstawianych przez użytkowników w serwisie kiohub.eti.pg.gda.pl treści, badań, wyników i
          tez naukowych;</li>
        <li>za wykorzystanie przez użytkowników informacji zamieszczonych w serwisie kiohub.eti.pg.gda.pl, w
          szczególności za wykorzystanie
          przez użytkowników treści, badań, wyników i tez naukowych w jakimkolwiek celu;</li>
        <li>za niewłaściwy sposób korzystania przez użytkowników z serwisu i szkody wynikłe z tego tytułu;</li>
        <li>za wszelkie treści (w tym m.in. załączniki, opisy, zdjęcia) umieszczane przez użytkowników w serwisie
          kiohub.eti.pg.gda.pl,
          za ich rzetelność, prawdziwość, autentyczność, sposób wykorzystania przez innych użytkowników lub inne
          podmioty;</li>
        <li>z tytułu naruszenia przez użytkowników praw osób trzecich poprzez korzystanie z serwisu, w tym w
          szczególności poprzez
          naruszenie dóbr osobistych lub praw autorskich osób trzecich;</li>
        <li>za zdarzenia wynikłe na skutek udostępnienia danych konta użytkownika zarejestrowanego osobie trzeciej lub
          też na skutek
          wejścia w posiadanie takich danych przez osobę trzecią bez wiedzy lub woli użytkownika z przyczyn
          niezależnych od
          Politechniki Gdańskiej;</li>
        <li>za usunięcie w dowolnym czasie dowolnego konta lub dowolnego opisu, pliku lub innej treści umieszczonych
          przez użytkownika,
          z przyczyn określonych w Regulaminie, mając na uwadze darmowy charakter serwisu, Politechnika Gdańska w
          zakresie
          wszystkich darmowych usług udostępnianych w serwisie kiohub.eti.pg.gda.pl nie odpowiada za niefunkcjonowanie
          lub
          nieprawidłowe funkcjonowanie serwisu kiohub.eti.pg.gda.pl w najszerszym dopuszczalnym przez prawo zakresie;
          Politechnika
          Gdańska deklaruje, iż będzie dokładać starań, by okresy niedziałania lub nieprawidłowego działania serwisu
          kiohub.eti.pg.gda.pl
          nie miały miejsca lub były ograniczone do niezbędnego minimum;</li>
        <li>za utratę jakichkolwiek danych umieszczonych przez użytkowników w serwisie kiohub.eti.pg.gda.pl;</li>
        <li>za usługi świadczone przez inne podmioty za pośrednictwem lub z wykorzystaniem serwisu
          kiohub.eti.pg.gda.pl, jeśli
          usługi takie są świadczone przez takie podmioty we własnym imieniu i nie na rachunek Politechniki Gdańskiej
          (o ile
          takie usługi są lub będą świadczone, zasady ich świadczenia określa/będzie określać właściwy regulamin, przy
          czym
          usługi takie są/będą w serwisie kiohub.eti.pg.gda.pl wyraźnie oznaczone;</li>
        <li>za kopiowanie danych z serwisu kiohub.eti.pg.gda.pl, w tym w szczególności treści, plików, zdjęć, i
          umieszczanie w
          innych serwisach lub wykorzystywanie w jakikolwiek inny sposób przez osoby trzecie (Politechnika Gdańska nie
          ma możliwości
          zapobieżenia działaniom w zakresie kopiowania treści w sposób sprzeczny z Regulaminem, toteż użytkownik
          podejmujący
          decyzję o udostępnieniu informacji o projekcie godzi się na podjęcie takiego ryzyka, co nie oznacza, iż nie
          będzie
          uprawniony do dochodzenia pociągnięcia do odpowiedzialności osób, które niezgodnie z prawem dokonują
          kopiowania plików
          i innych danych z serwisu);</li>
        <li>za utratę danych zgromadzonych w serwisie kiohub.eti.pg.gda.pl, w tym w szczególności w wyniku kradzieży, z
          powodu
          awarii sprzętu, siły wyższej, lub innych zdarzeń nie spowodowanych przez Politechnikę Gdańską.</li>
      </ol>
      <li>Politechnika Gdańska oświadcza, iż wszystkie pliki i inne treści umieszczane w serwisie kiohub.eti.pg.gda.pl
        są rejestrowane
        przez Politechnikę Gdańską, podobnie jak adresy IP, z jakich umieszczenie nastąpiło. Politechnika Gdańska
        oświadcza,
        iż każdorazowo, gdy zwracają się o to do Politechnika Gdańska odpowiednie, uprawnione organy państwowe powołane
        do
        wykrywania, zapobiegania lub ścigania przestępstw, Politechnika Gdańska udostępnia takim organom odpowiednie
        dane związane
        z funkcjonowaniem serwisu kiohub.eti.pg.gda.pl, w tym dane dotyczące IP użytkownika, który umieścił daną treść
        lub
        w inny sposób korzystał z serwisu kiohub.eti.pg.gda.pl, przy czym Politechnika Gdańska działa w tym zakresie
        wyłącznie
        zgodnie z właściwymi przepisami prawa zobowiązującymi Politechnikę Gdańską do przekazania takich danych.</li>
      <li>Regulamin jest dostępny na stronie: <a target="_blank" href="https://kiohub.eti.pg.gda.pl/rules">https://kiohub.eti.pg.gda.pl/rules</a>.</li>
      <li>Politechnika Gdańska zastrzega sobie prawo zmiany Regulaminu. W przypadku dokonania zmian w Regulaminie,
        Politechnika
        Gdańska poinformuje użytkowników o dokonanej zmianie poprzez zamieszczenie ujednoliconego tekstu zmienionego
        Regulaminu
        na stronie <a target="_blank" href="https://kiohub.eti.pg.gda.pl/rules">https://kiohub.eti.pg.gda.pl/rules</a>
        obok dotychczasowego. Zmiana Regulaminu obowiązuje użytkownika po upływie
        14 dni od daty poinformowania o zmianie zgodnie ze zdaniem poprzedzającym. Korzystanie z serwisu po tej dacie
        jest
        równoznaczne z akceptacją nowej treści Regulaminu.</li>
      <li>Politechnika Gdańska nie zapewnia nieprzerwanego, bezawaryjnego, ciągłego i niezakłóconego dostępu do
        serwisu.</li>
      <li>Szczegóły dotyczące polityki cookie Politechnika Gdańska udostępniana na stronie <a target="_blank" href="https://pomoc.pg.edu.pl/cookies">https://pomoc.pg.edu.pl/cookies</a>.</li>
    </ol>
  </h5>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Publikuj</button>
</mat-dialog-actions>