<footer class="footer">
  <div class="footer_left">
      <h4>O portalu</h4>
      <!-- <img src='../../assets/logo-trans.png'/> -->
      <h5>KioHub jest portalem, na którym pracownicy Katedry Inżynierii Oprogramowania wydziału Elektroniki, Telekomunikacji i Informatyki 
         Politechniki Gdańskiej udostępniają produkty wytworzone w ramach projektów grupowych, prac magisterskich, czy inżynierskich.</h5>
  </div>
      <div id="divider"></div>
      <div class="footer_right">
          <p class="footer_links">
              <a target="_blank" rel="noopener noreferrer" href="https://eti.pg.edu.pl/katedra-inzynierii-oprogramowania/prace-dyplomowe">Tematy prac dyplomowych</a>
              <a target="_blank" rel="noopener noreferrer" href="https://eti.pg.edu.pl/dziekanat-eti/regulaminy">Regulamin dyplomowania</a>
              <a target="_blank" rel="noopener noreferrer" href="https://eti.pg.edu.pl/dziekanat-eti/dyplom">Wytyczne i wymagania edytorskie</a>
              <a target="_blank" rel="noopener noreferrer" href="https://projektgrupowy.eti.pg.gda.pl/">Projekt grupowy</a>
          </p>              
      </div>
</footer>