
.footer {
    background-color: #343a40;
    width: 100%;
    margin-left: calc(-1 * var(--page-content-padding));
    margin-right: calc(-1 * var(--page-content-padding));
    margin-bottom: calc(-1 * var(--page-content-padding));
    text-align: left;
    font: bold 16px sans-serif;
    padding: var(--page-content-padding) var(--page-content-padding);    
    font-family: var(--main-font-name), sans-serif;
    height: var(--footer-main-page);
}

.footer_left, .footer_right {
    display: inline-block;
    vertical-align: center;
}

.footer_left {
    margin-left: 3%;
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
    color: #e0dfde;
}

.footer_right {
    width: 27%;
    text-align: left;
}

.footer_links a {
    color: var(--color-blue);
    display: block;
    font-size: 13px;
    margin-top: 5px;
}

h5 {
    margin-top: 15px;
    font-size: 13px;
    color: white;
}

#divider {
    width: 20%;
    height: auto;
    display: inline-block;
}