#advanced-search {
    border: 1px solid rgba(255, 166, 0, 0.39);
    margin-top: 15px;
    background:rgba(230, 227, 222, 0.282);
    overflow: hidden;
    margin-left: calc(-1 * var(--page-content-padding));
    margin-right: calc(-1 * var(--page-content-padding));
    height: 100%;
}

.leftLabel {
    float: left;
    width: 30%;
}

.rightLabel {
    float: right;
    width: 30%;
}

.paddingLeft {
    float: left;
    padding-left: 5%;
    width: 30%;
}

.paddingBottom {
    margin-bottom: 15px;
}

.paddingTop {
    margin-top: 70px;
}

label {
    font-family: var(--main-font-name), sans-serif;
    margin-top: 15px;    
}

.submit-button {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    justify-content: center;
}

.center {
    text-align: center;  
    display: block;
    width: 60%;
}

#center {
    text-align: center;
}

#textLeft {
    text-align: left;
}

form {
    margin: 15px;
}

.inputListLabel {
    float: left;
}

.dateInput {
    color: black !important;
}

#inputListsTable {
    table-layout: fixed;
    width: 100%;
}

tr :first-child {
    width:10%;
}
