.project_image {
    max-width: 8vw;
    float: left;
    margin-right: 1vw;
}

#info {
    display: grid;
    margin-right: 45px;
}

#project_result_container {
    display: block;
    background-color: transparent;
    min-height: 17vh;
    min-width: 58vw;
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

#project_result_container:hover {
    background-color: var(--color-blanc-with-opacity);
    cursor: pointer;
}

#inner_content {
    min-height: 17vh;
    min-width: 58vw;
}

p {
    padding-right: 1vw;
    text-align: justify;
    font-size: 13px;
    line-height: 17px;
    max-width: 30wv;
}

.title {
    padding-right: 15px;
}

h2 {
    display: inline;
}

h3 {
    display: inline;
}

#publication-state {
    font-style: italic;
    color: var(--color-gray);
}