.project_image {
    max-width: 8vw;
    float: left;
    margin-right: 1vw;
}

#info {
    display: grid;
}
#project_result_container {
    display: grid;
    background-color: transparent;
    min-height: 17vh;    
    min-width: 60vw;
    overflow: hidden;
    flex-wrap: wrap;
    text-overflow: ellipsis; 
}

#project_result_container:hover{
    background-color: rgba(206, 203, 197, 0.282);
    cursor: pointer;
}

p {
    padding-right: 1vw;
    text-align: justify;
    font-size: 13px;
    line-height: 17px;
    max-width: 30wv;
}

#description {
    float: left;
}

#semesters {
    float: left;
}

#tags {
    max-width: 100px;
    display: contents;
    float: left;
}

.clearfix {
    clear: both;
}
